
/* .card{

    border: 1px solid hsl(0, 0%, 80%);
    border-radius: 10px;
    padding: 20px;
    max-width: 300px;
    box-shadow: 5px 5px 5px rgba(0,0,0,0.1);
    margin: 20px ;
    text-align: center;
    display: inline-block;
}


.card .profile-pic

{
    width: 60%; 
    height: auto;
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: 15px;
}

 .card .card-title{
  font-family: Arial, Helvetica, sans-serif;
    font-size: 1.5em;
    margin: 0px;
    color: hsl(220, 15%, 20%);
}

.card .card-description{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1em;
    color: hsl(220, 10%, 40%);
    margin-top: 10px;
} */



/* .student{
      
    font-family:Arial, Helvetica, sans-serif;
    font-size: 2em;
    padding: 10px;
    border: 1px solid hsl(0, 0%,50%, .8);
    
}


.student p{

  margin : 0;

} */


.Welcome-message {
   
      font-size: 2.5em;
      background-color: greenyellow;
      color: white;
      padding: 10px;
      border-radius:0;
      margin: 0;
}

.logIn-prmt
{
      font-size: 2.5em;
      background-color: red;
      color: white;
      padding: 10px;
      border-radius:0;
      margin: 0;
}














