
.header{
     display: flex;
     justify-content: space-between;
     background-color: antiquewhite;
     padding: 0 10px;
        align-items: center;
}
.header ul{
   list-style-type: none;
   display: flex;
   width: 350px;
   justify-content:space-evenly ;
  
}
body{
    margin:0;
    padding:0;
   }

.link{
    margin: 10px;
    text-decoration: none;
}

.active{
    border:  2px solid transparent;
    border-radius: 28px;
    padding: 5px;
    background-color: lightgray;
    font-weight: bold;
    color: #000;
}

