.tutor ul{
  list-style-type:none;
  display: flex;
  justify-content: center;
 
}
.tutor ul li{
    margin: 10px;
    font-size: 20px;
   
}

.link
{
  text-decoration: none;

}
.active{
  font-weight: bold;
  color: red;
}