.card-container{
    background-color: aquamarine;
    width: 300px;

    text-align: center;
    list-style: none;
    padding: 15px;
    border: 5px solid rgb(234, 171, 171);
    border-radius: 10px;

    
}
li{
    color: aliceblue;
    font-size: 1.5rem;
    padding: 10px;
    font-style: italic;
    font-size: 1.7rem;
}
.counter{
    background-color: antiquewhite;
    width: 50%;
    padding: 10px;
    font-size: 2rem;
    border-radius:5px ;
}
button{
    border: none;
    font-size: 2rem;
    padding:5px;
    margin: 5px;
    background-color: rgb(84, 84, 116);
    color: aliceblue;
    border: 5px solid ;
    border-radius: 10px;
}
button:hover{
    background-color: rgb(62, 93, 83);
    color: rgb(171, 109, 109);
}
button:disabled {
    background-color: gray;
    cursor: not-allowed;
    opacity: 0.6;
}
p{
    text-align: center;
    font-size: 3rem;
    padding: 0 4px;
    background-color: rgb(160, 129, 88);
    
}
